  <%= form_for(project,url: component_status_path(project.id),:class=>"ss-stylish-form") do |f| %>
      This project is <span style="font-weight: bold;" class="<%= com_color_status(project.status) %>"><%= project.status %></span>.
      <%= select_tag :status, options_for_select(["In Progress","Closed/Complete","Closed/Incomplete","Integration Requested","On Hold","Archive"]) %>
      <%= f.submit "Update Status", class: "create-btn" %>
  <% end %>
