<div class="btn-option">
  <%= form_tag(set_active_filter_path) do %>
    <%= hidden_field_tag :org, "university" %>
    <%= submit_tag "Filter University", class: 'active' %>
  <% end %>
</div>

<div class="btn-option">
  <%= form_tag(set_active_filter_path) do %>
    <%= hidden_field_tag :org, "health" %>
    <%= submit_tag "Filter Health", class: 'active' %>
  <% end %>
</div>

<div class="btn-option">

  <%= form_tag(set_active_filter_path) do %>
    <%= hidden_field_tag :org, "" %>
    <%= submit_tag "No Filter", class: 'active' %>
  <% end %>
</div>