
<%= form_for(@work_note,:url => {:action => "create_note",:class => 'ss-stylish-form'}) do |note| %>

      <div class="am-form-pair">
        <%= note.label "Notes" %>
        <p>Make Public?<%= note.check_box :is_public, :id => "confirm-public" %></p>
        <%= note.text_area :note ,:size => "100x10"%>
        <%= note.hidden_field :project_id, :value => params[:id] %>
      </div>


  <div>
    <%# submit_tag 'Add Work Note',:class => "active"%>
    <button type="submit" class="active">Add Work Note<i class="button-icon-right fa fa-plus"></i></button>
  </div>
<% end %>
