<table id="admin-assign-table">
  <tbody>


  <tr>
    <%= form_tag(assign_analyst_path(params[:id])) do %>
        <td>Assigned To: <%= @project.analyst %></td>
        <td><%= select_tag :analyst_assign , options_for_select(@admins) %></td>
        <td><%= submit_tag "Assign Analyst", class: "active" %></td>
    <% end %>
  </tr>
  <tr>
    <%= form_for(@project ,:url => {:action => "assign_institution",:id => @project.id}) do |project| %>
      <td>Project Handled by: <%= @project.institution %></td>
      <td><%= project.select :institution, options_for_select([ "University", "Health System" ], "MasterCard") %></td>
      <td><%= submit_tag 'Assign Handler', class: 'active' %></td>
    <% end %>
  </tr>

  <tr>
    <%= form_for(@project,url: component_status_path(@project.id),:class=>"ss-stylish-form") do |f| %>
        <td>This project is <span style="font-weight: bold;" class="<%= com_color_status(@project.status) %>"><%= @project.status %></span>.</td>
        <td><%= select_tag :status, options_for_select(["In Progress","Closed/Complete","Closed/Incomplete","Integration Requested","On Hold","Archive"]) %></td>
        <td><%= f.submit "Update Status", class: "active" %></td>
    <% end %>
  </tr>


  </tbody>
</table>