<table class="display full-width">
  <tbody>
    <% @work_notes.each do |i| %>
      <% i.updated_by ? worker=i.updated_by : worker="Anonymous" %>
      <tr>
        <td>
          <div class="wn">
            <div class="wn-bar">
              <p class="wn-worker"><%= worker %> - <%= i.created_at.strftime("%B %d,%Y | %l:%M%P") %>
                <span class="sp-icon wn-edit-icon"><i class="fa fa-edit wn-edit-icon" aria-hidden="true"></i></span>
                <%= form_tag(work_note_path(id: i.id), method: :delete, id: 'del-wn-form') do %>
                  <button id="delete-sp-btn"  type="submit" onclick="return confirm('Are you sure you want to delete this Work Note?')">
                    <i class='fa fa-trash' aria-hidden='true'></i>
                  </button>
                <% end %>
              </p>
            </div>

            <%= simple_format(i.note,class: "wn-note") %>

            <div class="wn-update-form">
              <%= form_for(i,:url => {:action => "update_note",:id => i.id}) do |f| %>
                <%= f.text_area :note , class: "wn-update", size: "150X50"%>
                <div class="clearfix"></div>
                <%= f.submit "Update Work Note", class: "active"%>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
