<div id="main-no-aside">
 <h2 id="admin-root-header">Shibboleth Integration Requests (<%=@projects.count %>)</h2>

  <div>
    <h4>Last Updated Key</h4>
    <p><span class="key-green">&#9679; 1wk</span>  <span class="key-blue">&#9679; 2wk</span>  <span class="key-orange">&#9679; 3wk</span>  <span class="key-red">&#9679; 4wk</span></p>
  </div>


  <%= render partial: "filter_options" %>

  <div class="clearfix"></div>

  <div>
    <%= form_tag(search_projects_path) do %>
      <%= label_tag "Search Integrations" %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search Integrations", class: 'active'%>
    <% end %>
  </div>

  <!--<table class="idms-data-table">-->
  <table id="integration-table" class=" display tablesorter full-width">
    <thead>
      <tr>
        <th>PROJECT NAME</th>
        <th>SPONSOR</th>
        <th>STATUS</th>
        <th>REQUESTED ON</th>
        <th>LAST UPDATED</th>
        <th>HANDLER</th>
        <th>ANALYST</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr class="click-row" data-link="<%= integration_request_path(project.id)%>">
          <td><%= project.name %></td>
          <td><%= project.sponsor %> (<%= project.sponsor_duid %>)</td>
          <td><%= project.status %></td>
          <td><%= project.created_at.strftime("%B %d, %Y") %></td>
          <% work_notes = project.work_notes %>
          <% if work_notes[0] %>
            <td class="<%= color_status(project.updated_at.strftime("%B %d, %Y"),closed) %>"> <%= project.updated_at.strftime("%B %d, %Y")%></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= project.institution %></td>
          <td><%= project.analyst %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
