<div id="main-no-aside">
  <!--Work note flash-->
  <% if flash[:success] %>
    <div class=" message success">
      <%= flash[:success].html_safe %>
    </div>
  <% elsif flash[:error]%>
    <div class="message error">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>


  <% project = @project %>
  <div class="content-section">
    <h1><%= project.name %></h1>
    <h3>Sponsor: <%= project.sponsor %>, <%= project.sponsor_duid %>, <%= project.sponsor_email %> <button id="show-work-note" class="active">Work Notes</button></h3>
    <% if project.ticket  %>
      <h3>Service Now Ticket: <%= project.ticket %></h3>
    <% end %>
    <%= render :partial => 'project_assignment' %>
  </div>
  <div class="clearfix"></div>

  <div class="content-section">
    <h4>Request for help details:</h4>
    <%= simple_format(project.help_details) %>

    <% if project.is_web_based %>
      <ul>
        <li><span class="bold-title">Web Based:</span> <%= project.is_web_based %></li>
        <li><span class="bold-title">Production Url:</span> <%= project.prod_url %></li>
        <li><span class="bold-title">Test Url:</span> <%= project.test_url %></li>
        <li><span class="bold-title">Webserver:</span> <%= project.webserver %></li>
        <li><span class="bold-title">OS:</span> <%= project.os %></li>
        <li><span class="bold-title">Requested On:</span> <%= project.created_at.strftime("%B %d,%Y at %I:%M %P (%Z)") %></li>
        <li><span class="bold-title">Supports Saml:</span> <%= project.is_saml_supported %></li>
        <li><span class="bold-title">Vendor App:</span> <%= project.is_vendor %></li>
      </ul>
    <% else %>
      <div>Non Web Description: <%= project.non_web_desc %></div>
    <% end %>
  </div>


  <div class="content-section">
    <% contacts = project.contacts %>
    <h4>Contacts:</h4>
    <% contacts.each do |i| %>
      <ul>
        <li><span class="bold-title">Name:</span> <%= i.name %></li>
        <li><span class="bold-title">Contact Type:</span> <%= i.contact_type %></li>
        <li><span class="bold-title">Netid:</span> <%= i.netid %></li>
        <li><span class="bold-title">Email:</span> <%= i.email %></li>
        <li><span class="bold-title">Employer:</span> <%= i.employer %></li>
      </ul>
    <% end %>
  </div>


  <div id="work-note-container">
    <h4>Work Notes:</h4>
    <%= render :partial => "work_notes" %>
    <%= render :partial => "note_form" %>
  </div>
</div>
