<h2>Shibboleth Integration Support Request</h2>
<p>OIT Identity Management is happy to help assist with Shibboleth integrations.  To get started, please let us know a little about your project.</p>
<p><span class="require-desc">*</span> Denotes required field</p>
<%= form_for(@project,:url => {:action => "create"},:class => 'ss-stylish-form') do |project| %>

  <div class="content-section">
    <h4>Project Information</h4>
    <div class="form-set">
      <%= project.label 'Project/Service Name',:class => "required-label" %>
      <%= project.text_field :name,:class => "required-field",placeholder: "e.g. \"OIT NetID Services\"",:size => 60 %>
    </div>
    <div class="form-set">
      <%= project.label 'Organization',:class => "required-label" %>
      <%= project.select :institution, options_for_select([ "University", "Health System" ]) %>
    </div>
    <div class="form-set">
      <%= project.label :service_now_ticket,"ServiceNow ticket number (if applicable)"  %>
      <%= project.text_field :ticket %>
    </div>

    <div class="form-set">
      <%= project.label 'Audience/Functional Purpose'%>
      <%= project.text_area :purpose,placeholder: "Who will be using this application? What is its purpose?", size: '100x10' %>
    </div>

    <br/>

    <div class="form-set">
      <h4>Project Sponsor</h4>
      <p><%= @shib_attrs[:display_name] %> (<%= @shib_attrs[:eppn] %>) </p>
    </div>


    <div class="form-set web-based" >
      <%= project.label 'name', 'Is this a web-based application?',:class => "required-label" %>
      <div class="register-radios">
        <label><%= project.radio_button :is_web_based, "1",:class=>"web-based-yes" %>Yes</label>
      </div>
      <div class="register-radios">
        <label><%= project.radio_button :is_web_based, "0",:class=>"web-based-no" %>No</label>
      </div>
    </div> <!--end web-based-->


    <div class="component-fields" style="display:none;">
      <div class="form-set">
        <%= project.label "Web Server" %>
        <%= project.select :webserver, options_for_select(["Apache","Nginx", "IIS", "Other"]) %>
      </div>
      <div class="form-set">
        <%= project.label 'name', "Server Operating System" %>
        <%= project.text_field :os ,placeholder: "e.g. \"Linux\"",:size => 25%>
      </div>
    </div> <!--end form-set-->


    <div class="form-set is-vendor" style="display: none">
      <%= project.label 'name', 'This application is:',:class => "required-label"%>
      <div class="register-radios">
        <label><%= project.radio_button :is_vendor, "1",:class=>"vendor-yes " %>Licensed or purchased for use at Duke</label>
      </div>
      <div class="register-radios">
        <label><%= project.radio_button :is_vendor, "0",:class=>"vendor-no " %>Custom developed for Duke</label>
      </div>
    </div><!--end is-vendor-->


    <div class="form-set saml-check" style="display: none">
      <%= project.label 'name', 'Does this component support SAML?', :class => "required-label" %>
      <div class="register-radios">
        <label><%= project.radio_button :is_saml_supported, "Yes", :class =>"saml-yes"%>Yes</label>
      </div>
      <div class="register-radios">
        <label><%= project.radio_button :is_saml_supported, "No", :class =>"saml-no" %>No</label>
      </div>
      <div class="register-radios">
        <label><%= project.radio_button :is_saml_supported, "Unknown", :class =>"saml-unknown" %>I don't know</label>
      </div>
    </div>


    <div class="url" style="display: none">
      <div class="form-set">
        <%= project.label 'name', 'Test URL' %>
        <%= project.text_field :test_url ,placeholder: "e.g. \"https://test-idms.oit.duke.edu/pw\"",:size => 25%>
      </div>
      <div class="form-set">
        <%= project.label 'name', 'Production URL' %>
        <%= project.text_field :prod_url,placeholder: "e.g. \"https://idms.oit.duke.edu/pw\"",:size => 25 %>
      </div>
    </div>


    <div class="form-set component-desc" style="display: none">
      <%= project.label 'non_web_desc',"Application description" %>
      <%= project.text_area :non_web_desc, :size => "100X10", :id => "describe-app"%>
    </div>
  </div>

  <div class="content-section">
    <h4>Process Description <span style="color:red">*</span></h4>
      <p >Please let us know where you are in the process and what kind of assistance you would like from OIT.</p>
    <div class="form-set">
      <%= project.text_area :help_details, :class => 'required-field',size: '100x10' %><!--Project Object-->
    </div>

    <div class="form-set">
      <div class="shib-contacts">
        <div class="shib-contact">
          <h5>Technical Contact</h5>
          <%= project.fields_for :contacts do |contact| %>
              <div class="form-set">
                <%= contact.label 'name','Name' %>
                <%= contact.text_field :name,placeholder: "e.g. \"John Smith\"",:size => 25 %>
              </div>
              <div class="form-set">
                <%= contact.label 'name','Duke NetID (if applicable)' %>
                <%= contact.text_field :netid,placeholder: "e.g. \"js123\"",:size => 25 %><!--contact object-->
              </div>
              <div class="form-set">
                <%= contact.label 'name','Email' %>
                <%= contact.text_field :email ,placeholder: "e.g. \"john@duke.edu\"",:size => 25%>
              </div>
              <div class="form-set">
                <%= contact.label 'name','Employer' %>
                <%= contact.text_field :employer,placeholder: "e.g. \"Duke University\"",:size => 25 %><!--contact object-->
              </div>
              <%= contact.hidden_field :contact_type, :value => "Technical" %>
          <% end %>
        </div>


        <div class="shib-contact">
          <h5>Functional Contact</h5>
          <%= project.fields_for :contacts do |contact| %>
              <div class="form-set">
                <%= contact.label 'name','Name' %>
                <%= contact.text_field :name,placeholder: "e.g. \"John Smith\"",:size => 25 %>
              </div>
              <div class="form-set">
                <%= contact.label 'name','Duke NetID (if applicable)' %>
                <%= contact.text_field :netid,placeholder: "e.g. \"js123\"",:size => 25 %><!--contact object-->
              </div>
              <div class="form-set">
                <%= contact.label 'name','Email' %>
                <%= contact.text_field :email,placeholder: "e.g. \"john@duke.edu\"",:size => 25 %>
              </div>
              <div class="form-set">
                <%= contact.label 'name','Employer' %>
                <%= contact.text_field :employer,placeholder: "e.g. \"Duke University\"",:size => 25 %><!--contact object-->
              </div>
              <%= contact.hidden_field :contact_type, :value => "Functional" %>
          <% end %>
        </div>
      </div>
    </div>
    <p style="clear: both"></p>
  </div>


  <div class="content-section">
    <div class="am-section">
      <h4>Partnership Agreement</h4>
      <p>Upon receipt of this request, we will contact the project sponsor to coordinate next steps (usually within 3 business days).</p>
      <p><b>Note on Vendor Integrations:</b> We are happy to join vendor meetings or calls to help advance the technical interests of a Shibboleth integration, but cannot do this in the absence of a Duke representative for the project.
        A project sponsor from Duke must be in attendance for any such meeting or call.</p>

      <div class="register-radios">
        <label ><%= project.check_box :terms_of_service, :class => "eula"%>I have read and understand the Partnership Agreement <span class="require-desc">*</span></label>
      </div>
    </div>
  </div>

  <div >
    <%= submit_tag 'Submit Request', class: 'disable-button create-btn'  %>
  </div>
<% end %> <!--End registration form-->
