<% if flash[:success] %>
  <div class="notice">
    <%=flash[:success].html_safe %>
  </div>
<% elsif flash[:error]%>

  <div class="notice-error">
    <% flash[:error].each do |k,v| %>
      <% unless v[1].nil? %>
        <p class="flash-error">** <%= v[1] %> **</p>
      <% end %>
    <% end %>

  </div>
  <%= render :partial => 'form' %>
<% else %>
  <%= render :partial => 'form' %>
<% end %>
