<div id='spreg-main-no-aside'>

  <% if flash[:success] %>
    <div class="message success">
      <%= flash[:success].html_safe %>
    </div>
  <% elsif flash[:error]%>
    <div class="message error ">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>

  <div class="message error " id="spreg-error-container"></div>
  <div id="review-sp-container">
    <% attrs = @guided_submission %>

    <% if @guided_submission.try(:[], :saved_sp_id) %>
      <h1>Review Before Submission</h1>
      <p>This can be edited at any time after submission.</p>
      <p>No longer want this saved registration? You can delete it here.</p>
      <%= form_tag(delete_saved_sp_path(@guided_submission[:saved_sp_id]),method: :delete) do %>
        <%= submit_tag "Delete SP in Progress", class: "delete-btn" %>
      <% end %>

    <% else %>
      <h1>Service Provider Registration</h1>
    <% end %>

    <%= form_tag(submit_sp_path) do %>
      <div class="content-section">
        <h3>Site/Service Info</h3>
        <p class="sp-legend-caption">Tell us a little about your site or service.</p>
        <div class="form-set">
          <%=label_tag :entity_id, "Entity ID" %>
          <%=text_field_tag :entity_id, attrs.try(:[], :entity_id) ,placeholder: "e.g. http://mysite.com" %>
        </div>

        <div class="form-set">
          <%=label_tag :responsible_department, "Responsible Department" %>
          <%=text_field_tag :responsible_department,  attrs.try(:[], :responsible_department) ,placeholder: "e.g. Duke Web Services" %>
        </div>

        <div class="form-set">
          <%=label_tag :owning_department, "Owning Department" %>
          <%=text_field_tag :owning_department,  attrs.try(:[], :owning_department), placeholder: 'e.g. History Department' %>
        </div>

        <div class="form-set">
          <%=label_tag :purpose, "Purpose" %>
          <%=text_area_tag :purpose,  attrs.try(:[], :purpose),placeholder: "e.g. informational web app for students" %>
        </div>

        <div class="form-set">
          <%=label_tag :audience, "Audience" %>
          <%=text_area_tag :audience, attrs.try(:[], :audience),placeholder: "e.g. students, faculty, parents" %>
        </div>
      </div>


      <div class="content-section">
        <h3 class="sp-legend">Users</h3>
        <p class="sp-legend-caption">Who will be responsible for maintaining this registration?  People named below will be able to make edits and will receive notifications about any changes that could affect the integration.</p>

        <div class="sp-update-field oneRequired show-element active-submit">
          <p class="dup-spreg-field"> + Add User NetID</p>
          <% if attrs.try(:[], :users).nil? || attrs.try(:[], :users).empty? %>
            <div class="sp-dup-set">
              <%= text_field_tag "users[]", nil, placeholder: 'netid',class: "sp-users-netid" %>
              <span class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>
            </div>
          <% else %>
            <% attrs[:users].each do |user|  %>
              <div class="sp-dup-set">
                <%= text_field_tag "users[]", user, placeholder: 'netid', class: "sp-users-netid"%>
                <span class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>


      <div class="content-section">
        <h3>Certificate</h3>
        <p>This is the certificate for response encryption. Do not confuse this with a web server certificate.</p>

        <div>
          <%=text_area_tag :cert, attrs.try(:[], :cert) %>
        </div>
      </div>

      <div class="content-section">
        <h3>ACS URLs</h3>
        <p class="sp-legend-caption">After a user authenticates at the Duke Identity Provider (IdP), where would you like them to be redirected? If using a Shibboleth SP, this is usually <strong>https://your-host/Shibboleth.sso/SAML2/POST</strong>.</p>
        <div class="sp-update-field oneRequired show-element active-submit">

          <% acs_bindings = {"2.0:bindings:HTTP-POST" => "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST", "1.0:profiles:browser-post" => "urn:oasis:names:tc:SAML:1.0:profiles:browser-post", "2.0:bindings:HTTP-POST-SimpleSign" => "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST-SimpleSign"} %>
          <p class="dup-spreg-field">+ Add ACS</p>
          <% if attrs.try(:[], :acs).nil? ||  attrs.try(:[], :cert).empty? %>
            <div class="sp-dup-set">
              <%= select_tag "acs[]binding", options_for_select(acs_bindings.collect{ |k,v| [k, v]}, "2.0:bindings:HTTP-POST") %>
              <span class='bold-title'>Default ACS:</span>
              <%= radio_button_tag "acs[]is_default", nil,true %>
              <%= text_field_tag "acs[]location", nil, placeholder: "e.g. https://your-host.com/Shibboleth.sso/SAML2/POST", class: 'sp-long-field sp-acs' %>
              <%# label_tag "Default ACS" %>


              <span class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>

            </div>
          <% else %>
            <% attrs[:acs].each do |a| %>
              <div class="sp-dup-set">
                <%= select_tag "acs[]binding", options_for_select(acs_bindings.collect{ |k,v| [k, v]}, a[:binding]) %>
                <%= text_field_tag "acs[]location", a[:location], placeholder: "e.g. https://your-site.com/Shibboleth.sso/SAML2/POST", class: 'sp-long-field sp-acs' %>
                <%= radio_button_tag "acs[]is_default", nil, a[:is_default] %>
                <span class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="content-section">
        <h3>Attributes</h3>
        <p class="sp-legend-caption">What attributes would you like to be released to your Service Provider when a user logs in?</p>
        <div class="sp-update-field show-element active-submit">
          <% sp_attrs = attr_collection(@attributes) %>

          <%= select_tag :newAttr, options_for_select(sp_attrs.collect{ |k,v| [k, v] }) ,class: 'long-text-field', id: "new-sp-attr"%> <span class="add-sp-attr-btn"><i class="fa fa-plus " aria-hidden="true"></i></span>

          <% if attrs.try(:[], :attributes).nil? || attrs.try(:[], :attributes).empty?  %>

            <div class="sp-dup-set">
              <%= text_field_tag 'attributes[]attr', 'eduPersonPrincipalName' , readonly: 'readonly', class: 'long-text-field' %>
            </div>

            <div class="sp-dup-set">
              <%= text_field_tag 'attributes[]reason', 'eduPersonScopedAffiliation', readonly: 'readonly', class: 'long-text-field' %>
            </div>
          <% else %>
            <% attrs[:attributes].each do |a| %>
              <div class="sp-dup-set">
                <%= text_field_tag "attributes[]attr", a[:attr], readonly: "readonly", class: 'long-text-field'%>
                <% if a[:reason] %>
                  <%= text_field_tag "attributes[]reason", a[:reason], placeholder: "reason for attr" %>
                <% end %>
                <span class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>

      <div class="content-section">
        <h3>Group Memberships</h3>
        <p class="sp-legend-caption">Would you like to know about any specific Grouper memberships for users logging in to your site or service?</p>


        <div class="sp-update-field oneRequired show-element active-submit">


          <p class="dup-spreg-field">+ Add Group</p>

          <% if attrs.try(:[], :groups).nil? ||  attrs.try(:[], :groups).empty? %>
            <div class="sp-dup-set">
              <span class='bold-title'>Regex Value?:</span>
              <%= check_box_tag 'groups[][is_value_regex]' , true %>
              <%= text_field_tag "groups[][path]", nil,placeholder: "e.g. urn:mace:duke.edu:groups:path:to:group",class: "sp-long-field" %>
              <span id="delete-sp-attr-example" class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>
            </div>
          <% else %>F
            <% attrs[:groups].each do |g| %>
              <div class="sp-dup-set">
                <span class='bold-title'>Regex Value?:</span>
                <%= check_box_tag 'groups[][is_value_regex]' , true , convert_numerical_bool(g[:is_value_regex]) %>
                <%= text_field_tag "groups[][path]", g[:path], placeholder: "e.g. urn:mace:duke.edu:groups:path:to:group", class: "sp-long-field" %>
                <span id="delete-sp-attr-example" class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%=submit_tag 'Submit', id: "spreg-submit", class: "action active", style: "width: 200px" %>
    <% end %> <!-- end form -->
  </div> <!-- end review-wp container -->
</div>
