<h2><%= @project.sponsor %> has requested a Shibboleth Integration for <%= @project.name %> </h2>

<h3>Sponsor</h3>
<p>Name: <%= @project.sponsor %>(<%= @project.sponsor_duid %>)</p>
<p>Email: <%= @project.sponsor_email %></p>


<h3>Integration Details</h3>
<% if @project.is_web_based %>
  <h4>Web Based</h4>
  <ul>
    <li>Name: <%= @project.name %></li>
    <li>Production URL: <%= @project.prod_url %></li>
    <li>Test URL: <%= @project.test_url %></li>
    <li>Webserver: <%= @project.webserver %></li>
    <li>OS: <%= @project.os %></li>
    <li>Supports Saml?: <%= @project.is_saml_supported %></li>
    <li>Vendor: <%= @project.is_vendor %></li>
  </ul>
  <p><%= @project.help_details %>]</p>
  <h4>Contacts</h4>

<% else %>
  <h4>NOT WEB BASED</h4>
  <p><%= @project.non_web_desc %></p>
  <h4>Contacts</h4>
<% end %>


<% @project.contacts.each do |contact| %>
  <p>Name: <%= contact.name %></p>
  <p>Netid: <%= contact.netid %></p>
  <p>Email: <%= contact.email %></p>
  <p>Employeer: <%= contact.employer %></p>
<% end %>
