.inter-req-table{
	margin: 30px;
}

//menu of button options
.btn-option{
	vertical-align: text-bottom;
	margin-right:20px;
	margin-bottom: 10px;
	float: left;
}

.com-status{
	background-color:blue;
	color:whitesmoke;
	width:auto;
	white-space: nowrap;
}

table.ss-data-table th {
  padding: 15px 7px;
  color: #5B5B5B;
  background-color: #F6EAB8
}

table.ss-data-table tr {
  background: #F7F7F7;
  border: 3px solid #ccc;
}

table.ss-data-table tr:nth-child(odd) {
  background-color: #E5E5E5;
}

table.ss-data-table td {
  padding: 10px 5px;
  font-size: 100%;
}

.click-row:nth-child(odd):hover{
	background-color:#CFEDED;
	cursor: pointer;

}
.click-row:nth-child(even):hover {
	background-color: #CFEDED;
	cursor: pointer;
}

.key-red{
	color: #CC3300;
}
.key-orange{
	color: #F07D0A;
}
.key-blue{
	color: #0680CD;
}
.key-green{
	color: #2AC95C;
}

.wn-worker{
	display: inline;
}

#del-wn-form{
	display: inline;
}

// table.ss-data-table tr td a{
//   color: #0736A4;
// }
