
.sp-info{
	h4{
		margin-top: 25px;
		margin-bottom: 7px;
	}

	p{
		margin: 0;
	}

	ul{
		margin-top: 0;
		margin-bottom: 7px;
		padding: 0;
	}
}

.sp-header{
	display: inline-block;
}

.sp-icon{
	margin-left: 5px;
	display: inline-block;
}

.sp-icon:hover{
	cursor: pointer;
}

.sp-update-field{
	display: block;
}

.cert-details{
	display: inline-block !important;
	vertical-align: top !important;
}

#prefetch {
	display: inline;
}

#sp-cert {
	display: inline-block !important;
	margin: 1em 0;
	padding: .5em .5em .5em .5em;
	//border: 1px solid #ccc;
	font-size: 1.2em;
	//width: 33%;
}

#cert-container{
	//display: inline-block !important;
	// background-color: #444;
}
#sp-cert:before{
	//display: inline-block !important;
}

.released-attribute{
	color: whitesmoke;
	display: inline-block;
	border: 1px solid #DED9D9;
	border-radius: 5px;
	//float: left;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0;
	padding: 0.5em;
	font-size: 0.9em;
	background-color: #0680CD;
}



#spreg-main-no-aside{
	margin: 0 0 0 66px;
	padding-bottom: 20px;
	display: inline-block;
	width: 50%;
}

#update-sp-container{
	border: solid;
	vertical-align: top;
	display: inline-block;
	padding: 10px;
	margin-top:15px;
}

.toggleSpSubmit{
	visibility: hidden;
}



.dup-spreg-field:hover{
	text-decoration: underline;
	cursor: pointer;
}

.delete-sp-field:hover{
	cursor:pointer;
}

.add-sp-attr-btn{
	@extend .dup-spreg-field
}

.add-sp-attr-btn:hover{
	@extend .dup-spreg-field:hover
}

.sp-long-field{
	width: 70%;
}

.acs-info{
	margin-bottom: 12px;
}

#cert{
	width: 50%;
	height: 200px;
}

.valid-cert-msg{
	color: #2AC95C;
	margin: 0;
}

#invalid-cert-msg{
	color: #CC3300
}

#delete-sp-btn{
	background: none;
	border: none;
}


#delete-sp-btn:hover{
	cursor: pointer;
}



.tt-selectable{
	background: #EBE6E6;
	padding: 5px;
	border-bottom: solid;
	border-color: #DED9D9;
}

.tt-selectable:hover{
	background: #FFCE86;
	cursor: pointer;
 }
.tt-selectable:last-child{
	border-bottom: none;

}
