<div class="box-doc">
  <iframe class="box-frame" src="https://duke.app.box.com/embed/s/k95yo5yoo9xrf2611jak5v32ugg7gyoz"
          frameborder="0"
          allowfullscreen
          webkitallowfullscreen
          msallowfullscreen
          onload="this.style.height=this.contentDocument.body.scrollHeight +'px';"
  >
  </iframe>
</div>
