<div id="main-no-aside">
  <h2>Get Started with Shibboleth</h2>
  <p>
    Not your first Shibboleth integration? <a href="https://wiki.duke.edu/display/OITSHIB/Duke+OIT+Shibboleth">Skip to Duke's Shibboleth documentation.</a>
  </p>
  <div class="docs-container">
    <h4>What applications can support Shibboleth?</h4>
    <p>Shibboleth can be used with internally or externally hosted applications.  In general, web-based applications running on Apache or IIS are very straightforward to integrate with Shibboleth.  For applications running on other web servers or non-web-based applications, we recommend you submit a <%=link_to "Shibboleth integration support request", register_path %> so that we can assist with the process.</p>
  </div>

  <div class="docs-container">
  <h4>What configuration options do I have with Shibboleth?</h4>
    <ul>
      <li><span class="strong-list">Account options:</span> All Duke resources protected by Shibboleth support Duke NetID authentication.  Duke users can requests NetIDs for external users via the <a href="https://accounts.oit.duke.edu/sponsor">Sponsored Accounts</a> tool.  Optionally, Shibboleth can be configured to accept <a href="https://accounts.oit.duke.edu/onelink">Duke OneLink</a> credentials, or credentials from a partnering institution.</li>
      <li><span class="strong-list">Attribute release:</span> Shibboleth can be configured to release basic directory information about the current user to the application or service, including group membership information.</li>
      <li><span class="strong-list">Authorization support:</span> In addition to looking at group membership to make authorization decisions within your application, Shibboleth can also be configured to block access to users who are not a member of one or more groups.  This can be useful with applications that have limited authorization support internally.</li>
      <li><span class="strong-list">Multi-Factor Authentication (MFA):</span> While users can opt in to MFA on an individual basis, Shibboleth SPs can be configured to require it for a particular application or service.</li>
    </ul>
  </div>

  <div class="docs-container">
    <h4>Getting started with Shibboleth</h4>
    <p>Protecting your resource with Shibboleth typically involves the following steps:</p>
    <ol class="reg-list">
      <li><a href="https://wiki.duke.edu/display/OITSHIB/SP+2+Configuration">Install and configure a Shibboleth Service Provider (SP)</a> on your application server</li>
      <li><a href="<%= new_sp_url %>">Register the application with Duke</a></li>
    </ol>

    <p>For vendor-hosted applications, the typical Shibboleth integration includes:</p>

    <ol class="reg-list">
      <li>Verify that the application supports SAML</li>
      <li><a href="<%= new_sp_url %>">Register the application with Duke</a></li>
      <li>Configure SAML settings in application</li>
    </ol>
  </div>

  <div class="docs-container">
    <h4>For additional support</h4>
    <p>OIT Identity Management is happy to help assist with Shibboleth integrations.  To get started, please submit a <%=link_to "Shibboleth integration support request", register_path %>.</p>
  </div>
</div>    <!-- end #main-no-aside -->
