
<%= form_for(@work_note,:url => {:action => "create_user_note",:class => 'ss-stylish-form'}) do |note| %>
    <div class="am-form-pair">
      <%= note.text_area :note ,:size => "100x10"%>
      <%= note.hidden_field :project_id, :value => params[:id] %>
    </div>


    <div>
      <%= submit_tag 'Add Work Note',:class => "active"%>
    </div>
<% end %>
