<h2>Your Shibboleth Service Providers </h2>
<!--<table id="user-sp-table" class="idms-data-table tablesorter">-->
<table id="user-sp-table" class="display full-width tablesorter">
  <thead>
  <tr>
    <th>Entity ID</th>
    <th>Last Updated</th>
  </tr>
  </thead>

  <tbody>
  <% @sps.each do |sp| %>

    <tr class="click-row" data-link="<%= show_user_sp_path(entityId: drop_http(sp[:entity_id]))%>">
      <td><%= sp[:entity_id] %></td>
      <td><%= sp[:last_update].strftime("%B %d, %Y") if sp[:last_update] %></td>
    </tr>
  <% end %>

  </tbody>
</table>
