<h1 id="root-header">Authenticating Your Duke Site</h1>
<div class="content-section">
<p>Duke supports electronic authorization to resources via <a href="https://shibboleth.net/">Shibboleth</a>, an open-source authorization provider created by <a href="http://www.internet2.edu/">Internet2</a>, a community of academic, research, industrial, and governmental institutions.</p>
  <%= form_tag(docs_path, method: "GET") do %>
    <h2><button type='submit' class="active">Read Documentation<i class="button-icon-right fa fa-arrow-right"></i></button></h2>
  <% end %>
  <p>
    Great place to start whether you are new to Shibboleth or just looking for documentation on Shibboleth
    installation and configuration.
  </p>


  <%= form_tag(new_sp_path, method: "GET") do %>
    <h2><button class="active">Register with the Duke Identity Provider<i class="button-icon-right fa fa-arrow-right"></i></button></h2>
  <% end %>
  <p>Already have a working Service Provider? Register with the Duke Identity Provider here!</p>


  <%= form_tag(register_path, method: "GET") do %>
    <h2><button class="active">Stuck on a SP Integration?<i class="button-icon-right fa fa-arrow-right"></i></button></h2>
  <% end %>
  <p>
    If you have started the Shibboleth integration process and are having trouble installing or configuring your
    Shibboleth Service Provider, you can request assistance from OIT here.
  </p>
</div>
