<h2>Your Open Shibboleth Integrations</h2>

<table id="user-projects-table" class="display full-width tablesorter">
  <thead>
  <tr>
    <th>Project</th>
    <th>Status</th>
    <th>IDM Contact</th>
    <th>Last Updated</th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |p| %>
      <tr class="click-row" data-link="<%= project_status_path(p.id)%>">
        <td><%= p.name %></td>
        <td><%= p.status %></td>
        <td><%= p.analyst %></td>
        <% if p.work_notes[0] %>
            <td> <%= p.updated_at.strftime("%B %d, %Y")%></td>
        <% else %>
            <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>