<table class="idms-data-table">
  <tbody>
  <% @work_notes.each do |i| %>
      <% i.updated_by ? worker=i.updated_by : worker="Anonymous" %>
      <tr>
        <td>
          <div class="wn">
            <!-- removed time h:mm because was not showing in prod or acceptance-->
            <p class="wn-worker"><%= worker %> - <%= i.created_at.strftime("%B %d,%Y") %></p>
            <p class="wn-note"><%= i.note %></p>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>