<div id="main-no-aside">
  <% if flash[:success] %>
    <div class="notice">
      <%= flash[:success].html_safe %>
    </div>
  <% elsif flash[:error]%>
    <div class="notice-error">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>

  <%= render :partial => "user_menu" %>

  <%# unless @saved_sps.empty? %>
    <%# render :partial => "saved_sps", locals: {saved_sps: @saved_sps} %>
  <%# end %>

  <% if @sps %>
    <%= render :partial => "sps" %>
  <% end %>

  <% if @has_projects %>
    <%= render :partial => "user_projects" %>
  <% end %>
</div>
