<div id="main-no-aside">
  <h2>Project Status</h2>

  <div class="docs-container">
    <h4>Project Sponsor:</h4>
    <p><%= @project.sponsor %>, <%= @project.sponsor_duid %>, <%= @project.sponsor_email %> </p>
  </div>
  <div class="docs-container">
    <h4>Current Status:</h4>
    <p><%= @project.status %></p>
  </div>

  <h2>Work Notes</h2>

  <%= render :partial => "work_notes" %>
  <%= render :partial => "note_form" %>
</div>