@import "admin/dashboard";
@import "admin/spreg";
@import "users/fresh_landing";

svg{
	pointer-events: none !important;
}


label.required-label:after {
	content: " *";
	color: red;
}

.header-link{
	text-decoration: none !important;
}

.certline{
	margin: 0;
}

#spreg-error-container{
	display: none;
}

a.header-link{
	// display: none;
	text-decoration: none !important;
	border-bottom: none !important;
}

.long-text-field{
	width: 25%;
}
