//#flex-landing-container{
//	display: flex;
//	flex-wrap: wrap;
//	justify-content: space-between	;
//}
//
//.flex-container{
//	display: flex;
//	flex-wrap: wrap;
//	justify-content: space-between	;
//}
//
//
//.flex-item{
//	width:350px;
//	//todo fix padding on landing
//	//padding: 15px;
//	margin-top: 10px;
//	margin-bottom: 10px;
//}
//
//
//.flex-col-container{
//	display: flex;
//	min-height: 100%;
//	flex-direction: column;
//}