<% if @pending_sp_attrs.empty? %>
  <h5>No pending attribute requests</h5>
<% else %>
  <%= form_tag(attribute_approval_path) do %>
    <table class="idms-data-table manage_pending_table display full-width">
      <tr>
        <th class="checkbox">Check All <br />
          <input type="checkbox" id="check_all" value="Check All" />
        </th>
        <th>Entity ID</th>
        <th>Attribute</th>
        <th>Value</th>
        <th>Reg Ex</th>
        <th>Reason</th>
      </tr>

      <% @pending_sp_attrs.each do |pending_attr| %>
        <% attribute = Spreg::Attribute.find(pending_attr.attribute_id) %>

        <tr>
          <td class="checkbox"><%= check_box_tag 'approval_action[]', pending_attr.id %></td>
          <td><%= pending_attr.sp.entity_id %></td>
          <td><%= attribute.attributeID %></td>
          <td><%= pending_attr.value %></td>
          <td><%= pending_attr.is_value_regex ? 'Yes' : 'No' %></td>
          <td><%= pending_attr.reason %></td>
        </tr>
      <% end %>
    </table>

    <fieldset class="radiogroup">
      <legend>Approve or Disapprove restricted attribute requests:</legend>
      <ul class="radio">
        <li><input type="radio" name="total_option" id="total_option_approve" value="approve" />&nbsp;Approve Request</li>
        <li><input type="radio" name="total_option" id="total_option_disapprove" value="disapprove" />&nbsp;Disapprove Request</li>
      </ul>
    </fieldset>

    <%= submit_tag "Submit", class: "create-btn" %>
  <% end %>
  </div>

  <script type="text/javascript">
    $('#check_all').change(function() {
      $('table.manage_pending_table input[type="checkbox"]').prop('checked', $(this).is(':checked'));
    });
  </script>
<% end %>
