<h2 id="spreg-header">SP Registration - Search by Entity ID</h2>
<div class="content-section">
  <%= form_tag(search_sp_path) do  %>

    <div id="prefetch">
      <%= search_field_tag 'entityId', nil ,placeholder: 'entityID', class: "typeahead typeahead-bar" %>
    </div>
    <%= submit_tag 'Search Entity ID', class: 'active' %>

  <% end %>
</div>
<h2>SP Registration - Search by NetID</h2>

<div class="content-section">
  <%= form_tag(search_by_user_path) do  %>
    <%= search_field_tag 'netid', nil ,placeholder: 'netid' %>
    <%= submit_tag 'Search NetID', class: 'active' %>
  <% end %>
</div>
