<div id="main-no-aside">
  <% if flash[:error] %>
    <div class="message error">
      <%= flash[:error] %>
    </div>
  <% elsif flash[:notice] %>
    <div class="message notice">
      <%= flash[:notice] %>
    </div>
  <% end %>



  <%= render :partial => "search" %>

  <% if @potential_matches %>
    <%= form_tag(show_sp_path, method: "get", id: "sp-search-form") do  %>
    <table class="display full-width tablesorter">
      <thead>
        <tr>
          <th>Entity ID</th>
        </tr>
      </thead>
      <tbody>
        <% @potential_matches.each do |m| %>
          <tr class="click-row potential-sp-row">
            <td><%= m %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  <% end %>


  <h2>Pending Attribute Approvals</h2>
  <%= render :partial => "pending_attr_approvals" %>

</div>
