  <% if flash[:success] %>
    <div class="message success">
      <%= flash[:success].html_safe %>
    </div>
  <% elsif flash[:error]%>
    <div class="message error">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>

  <% if @pending %>
    <div class="message notice ">
      <p>This registration is currently awaiting updates in our system.</p>
      <p>You will be unable to alter this registration until updates are complete.</p>
      <p>Please allow 5-10 minutes for changes updates to complete.</p>
    </div>
  <% end %>

  <div class="message error" id="spreg-error-container">
  </div>


  <%= render :partial => 'admin/spreg/search' if @is_admin %>

  <% if @sp.sp %>
    <% details = @sp.spreg_details %>
    <%= form_tag(delete_sp_path(entityId: @sp.entity_id), method: :delete) do %>
      <h1 class='idms-h1'>
        <%= @sp.entity_id %>
        <button id="delete-sp-btn" class="idms-del" type="submit" onclick="return confirm('Are you sure you want to delete this registration?')">
          <i class='fa fa-trash' aria-hidden='true'></i>
        </button>
      </h1>

    <% end %>

    <%= form_tag(edit_sp_path , id: 'spreg-form') do %>

      <h3>Details</h3>
      <div class='form-set sp-info content-section'>
        <h4 class='sp-header'>Info</h4> <span class="sp-edit-icon sp-icon"><i class='fa fa-edit' aria-hidden='true'></i></span>
        <% entity_id = @sp.entity_id %>
        <% purpose = details[:purpose] %>
        <% responsible_department = details[:responsible_dept] %>
        <% owning_department = details[:owner_dept] %>
        <% audience = details[:audience] %>


        <%= label_tag :entity_id, 'Entity ID' %>
        <p class="sp-show-field"><%= entity_id %></p>
        <span class='bold-title sp-update-field'><%= text_field_tag :entity_id, entity_id, placeholder: entity_id%> </span>
        <%= hidden_field_tag :base_entity_id, entity_id %>

        <%= label_tag :purpose, "Purpose" %>
        <p class='sp-show-field'><%= purpose %></p>
        <span class='bold-title sp-update-field'><%= text_field_tag :purpose, purpose, placeholder: purpose%></span>

        <%= label_tag :responsible_department, 'Responsible Department' %>
        <p class='sp-show-field'><%= responsible_department %></p>
        <span class='bold-title sp-update-field'><%= text_field_tag :responsible_department, responsible_department, placeholder: responsible_department%> </span>

        <%= label_tag :owning_department, 'Owning Department' %>
        <p class='sp-show-field'> <%= owning_department %></p>
        <span class='bold-title sp-update-field'><%= text_field_tag :owning_department, owning_department, placeholder: owning_department%> </span>

        <%= label_tag :audience, "Audience" %>
        <p class='sp-show-field'><%= audience %></p>
        <span class='bold-title sp-update-field'><%= text_field_tag :audience, audience, placeholder: audience%></span>
      </div>



      <div class='sp-info content-section'>
        <h4 class='sp-header'>Users - People able to access and edit the registration.</h4> <span class="sp-icon sp-edit-icon"><i class='fa fa-edit' aria-hidden='true'></i></span>
        <% details[:users].each do |user|  %>
          <p class='sp-show-field'><span class='bold-title'><%= user %></p>
        <% end %>

        <div class='sp-update-field oneRequired'>
          <p class='dup-spreg-field'>+ Add User NetID</p>
          <% details[:users].each do |user|  %>
            <div class='sp-dup-set'>
              <%= text_field_tag 'users[]', user, placeholder: "netid", class: 'sp-users-netid'%>
              <span id="delete-sp-attr-example" class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>
            </div>
          <% end %>
        </div>
      </div>


      <div class="content-section">
        <h3 class='sp-header'>Certificate </h3><span class="sp-icon sp-edit-icon"><i class='fa fa-edit' aria-hidden='true'></i></span>
        <p>This is the certificate for response encryption. Do not confuse this with a web server certificate.</p>
        <div class='clearfix'></div>
        <div id="cert-container" class='sp-show-field'>
          <% cert =  @sp.certificate[:full_cert] %>
          <%# cert.scan(/.{1,64}/).join("\n") %>
          <code id='sp-cert' >

              <%# format_display_certificate(cert).html_safe %>
              <%= sanitize format_display_certificate(cert) %>


          </code>
        </div>
        <%= text_area_tag(:cert, cert, class: 'sp-update-field') %>

        <div class='cert-details'>
          <div class='sp-info'>
            <h4>Subject</h4>
            <% format_issuer_subject(@sp.certificate[:subject]).each do |s| %>
              <ul><%= s %></ul>
            <% end %>
          </div>
        </div>

        <div class='cert-details'>
          <div class='sp-info'>
            <h4>Issuer</h4>
            <% format_issuer_subject(@sp.certificate[:issuer]).each do |s| %>
              <ul><%= s %></ul>
            <% end %>
          </div>
        </div>

        <div class='sp-info'>
          <p><span class='bold-title'>Serial:</span> <%= @sp.certificate[:serial] %></p>
          <p><span class='bold-title'>Not Before:</span> <%= @sp.certificate[:before] %></p>
          <p><span class='bold-title'>Not After:</span> <%= @sp.certificate[:after] %></p>
        </div>
      </div>


      <div class="content-section">
        <h3 class='sp-header'>ACS </h3><span class="sp-icon sp-edit-icon"><i class='fa fa-edit' aria-hidden='true'></i></span>

        <div class='sp-show-field'>
          <% @sp.acs.each do |a| %>
            <div class='sp-info acs-info'>
              <p><span class='bold-title'>Location: </span><%= a[:location] %>  <%= a[:is_default] %></p>
              <p><span class='bold-title'>Binding: </span><%= a[:binding] %></p>
            </div>
          <% end %>
        </div>

        <div class='sp-update-field oneRequired'>
          <% acs_bindings = {'2.0:bindings:HTTP-POST' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST', '1.0:profiles:browser-post' => 'urn:oasis:names:tc:SAML:1.0:profiles:browser-post', '2.0:bindings:HTTP-POST-SimpleSign' => 'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST-SimpleSign'} %>
          <p class='dup-spreg-field'>+ Add ACS </p>
          <% @sp.acs.each do |a| %>
            <div class='sp-dup-set'>
              <span class='bold-title'>Default ACS:</span>
              <%= radio_button_tag 'acs[]is_default', nil, a[:is_default] %>
              <%= text_field_tag 'acs[]location', a[:location], placeholder: "location", class: "sp-long-field sp-acs"%>
              <%= select_tag 'acs[]binding', options_for_select(acs_bindings.collect{ |k,v| [k, v]}, a[:binding]) %>
              <span class="delete-sp-field"><i class='fa fa-trash delete-sp-field' aria-hidden='true'></i></span>
            </div>
          <% end %>
        </div>
      </div>

      <div class="content-section">
        <h3 class='sp-header'>Released Attributes</h3><span class="sp-icon sp-edit-icon"><i class='fa fa-edit' aria-hidden='true'></i></span>
        <div class='sp-show-field'>
          <p class='released-attribute'>eduPersonPrincipalName</p>
          <p class='released-attribute'>eduPersonScopedAffiliation</p>
          <% @sp.attributes.each do |attr| %>
            <p class='released-attribute'><%= attr[:name] %></p>
          <% end %>
        </div>

        <div class='sp-update-field sp-attr-update-fields'>
          <% attrs = attr_collection(@attributes) %>
          <%= select_tag :newAttr, options_for_select(attrs.collect{ |k,v| [k, v] }) , class: 'long-text-field', id: 'new-sp-attr'%> <span class="add-sp-attr-btn"><i class='fa fa-plus add-sp-attr-btn' aria-hidden='true'></i></span>
          <% @sp.attributes.each do |a| %>
            <div class='sp-dup-set'>
              <%= hidden_field_tag 'attributes[][is_public]', a[:is_public]  %>
              <%= text_field_tag 'attributes[][attr]', a[:name], readonly: 'readonly', class: 'long-text-field'%> <span class="delete-sp-field"><i class='fa fa-trash' aria-hidden='true'></i></span>
            </div>
          <% end %>
        </div>
      </div>


      <div class="content-section">
        <!--groups-->
        <h3 class='sp-header'>Released Groups</h3> <span class="sp-edit-icon sp-icon"><i class='fa fa-edit ' aria-hidden='true'></i></span>
        <% unless @sp.groups.empty? %>
          <div class='sp-show-field'>
            <% @sp.groups.each do |g| %>
              <p class='released-attribute'><%= g[:group] %></p>
            <% end %>
          </div>
        <% end %>


        <div class='sp-update-field sp-group-update-fields'>
          <p class='dup-spreg-field'> + Add Group </p>
          <% if @sp.groups.empty? %>
            <div class='sp-dup-set'>
              <span class='bold-title'>Regex Value?:</span>
              <%= hidden_field_tag 'groups[][is_value_regex]', "0" %>
              <%= check_box_tag 'groups[][is_value_regex]'%>
              <%= text_field_tag 'groups[][path]', nil,placeholder: 'type in group path here',class: 'sp-long-field sp-edit-group-field' %>
              <span class="delete-sp-field"><i class='fa fa-trash' aria-hidden='true'></i></span>
            </div>
          <% else %>
            <% @sp.groups.each do |g| %>
              <div class='sp-dup-set'>
                <span class='bold-title'>Regex Value?:</span>
                <%= hidden_field_tag 'groups[][is_value_regex]', "0" %>
                <%= check_box_tag 'groups[][is_value_regex]' , true ,g[:regex]%>
                <%= text_field_tag 'groups[][path]', g[:group], placeholder: 'type in group path here', class: 'sp-long-field sp-edit-group-field' %>
                <span class="delete-sp-field"><i class='fa fa-trash' aria-hidden='true'></i></span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class='clearfix'></div>

      <% unless @pending %>
        <div id='update-sp-container'>
          <h3>Commit Your Changes!</h3>
          <p>Make updates to your registration and commit the changes to our Identity Provider.</p>
          <p>Please note the private attributes will require review/approval from the Identity Managment team.</p>
          <button class="active" id='spreg-submit'>Update SP</button>
        </div>
      <% end %>
    <% end %> <!-- end-form -->
  <% end %>
