<%= form_tag(mock_id_path) do %>

    <label>Shib User Type</label>
    <% ids = JSON.parse(File.read("config/settings/mock_ids.json")) %>
    <% identifiers = {} %>
    <%  ids.each{|k,v| identifiers[k] = k}  %>
    <%= select_tag "mock_id", options_for_select(identifiers.collect{ |k,v| [k, v] })%>
    
    <%= submit_tag "Shib", :class => "id-search-btn" %>
<% end %>

<% if session[:mock_id] && session[:mock_id]["AJP_eppn"] != "noShibAdmin"  %>
  <%= form_tag(stop_mock_path) do %>
    <%= submit_tag "Stop Impersonation", :class => "id-search-btn" %>
  <% end %>
<% end %>
