<!DOCTYPE html>
<html>
  <head>
    <title>Duke Authentication Manager</title>
    <%= csrf_meta_tags %>
    <script src="https://shib.oit.duke.edu/idms-assets/dist/bundle.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if ENV['RAILS_ENV'] != "production" %>
      <div id="test-banner">
        TEST SERVER <%= Rails.env %>
        <% if Rails.env == "development" %>
            <%= render :partial => "layouts/mock_shib" %>
        <% end %>
      </div>
  <% end %>

  <div id="header">
    <%= link_to(root_path, class: "header-link") do %>
      <div id="logo"><img src="https://shib.oit.duke.edu/idms-assets/dist/public/images/duke.png"></div>
      <h1>Authentication</h1>
    <% end %>
    <% if @shib_attrs[:eppn] %>
      <div id="login-details">
        <p><%= @shib_attrs[:display_name] if @shib_attrs[:display_name]  %>
           <%= "( #{@shib_attrs[:uid]} )" if @shib_attrs[:uid] %>
           <%= link_to "sign out",logout_path  %>
        </p>
      </div>
    <% end %>
  </div>


  <div id="main">
    <%= yield %>
  </div>


  </body>
</html>
